---
import Logo from "./Logo.astro";
import Themetoggle from "./Themetoggle.astro";
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT</span>
    <span class="gpt-subtitle">聊天机器人</span>
  </div>
  <p mt-1 op-60>基于 OpenAI API (模型gpt-3.5-turbo).</p>
  <div style=" display: flex;
  align-items: center">
    <div style="width: 64px;
  height: auto;
  vertical-align: middle;">
      <img
        src="http://www.hczzw.com//a/2023-03-02/16777362909221.png"
        style="height: 64px;width: 64px;
    vertical-align: middle;max-width:none"
      />
    </div>
    <div
      style="padding:8px;font-size: middle;display: flex;
  flex-wrap: wrap
  align-content: center;"
    >
      <div>
        <a href="https://s.huahua777.com/Bocai-PianaiXunbanLegu64_xunban2.apk">
          【安卓APP】附近寻伴是一款同城附近陌生人聊天、交友、约会、恋爱、直播分享的社交产品，为同城附近陌生单身男女量身定做的聊天交友软件，让同城陌生人遇见交友不再是难题。【点击下载】
        </a>
      </div>
    </div>
  </div>
</header>
